name: 'Check for release notes artifact'

on:
  pull_request:

jobs:
  check-change-artifacts:
    # remove this condition when creating your repo
    if: github.repository != 'canonical/platform-engineering-charm-template'
    uses: canonical/release-notes-automation/.github/workflows/pr-compliance.yml@main
    secrets: inherit
    with:
      change-artifact-dir: docs/release-notes/artifacts

