name: Integration tests

on:
  pull_request:

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      modules: |
        [
          "test_charm.py",
          "test_s3.py",
          "test_oauth.py"
        ]
      load-test-enabled: false
      trivy-fs-enabled: true
      trivy-image-config: "trivy.yaml"
      juju-channel: 3/stable
      channel: 1.33-classic/stable
      pre-build-script: |
        -c './download_netbox.sh'
      use-canonical-k8s: true
      provider: 'k8s'
      self-hosted-runner: true
      self-hosted-runner-label: xlarge
