name: Integration tests

on:
  pull_request:

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@feat/pre-build-script
    secrets: inherit
    with:
      modules: |
        [
          "test_charm.py",
          "test_s3.py",
          "test_saml.py"
        ]
      load-test-enabled: false
      trivy-fs-enabled: true
      trivy-image-config: "trivy.yaml"
      juju-channel: 3.5/stable
      channel: 1.31-strict/stable
      charm-directory: "charm"
      pre-build-script: |
        -c './download_netbox.sh'